.contenedor{
    height: 100vh;
    width: 99.7vw;
    background-image: url(../../assets/img/fondo-5.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    width: 40%;
    margin: 2em;
    padding: 3em;
    background-color: rgba(155, 61, 231, 0.815);
    border-radius: 6%;
}
.form-label{
    color: #fff;
}